<div class="presentation margin">
  <p class="title bigger">Hi, I'm Alexis !</p>
  <p class="bigger">A passionate and constantly self learning developer.<br>
    You may be a fellow developer or a nice recruiter, in both cases let's keep in touch !</p>
  <p>Github | Twitter | LinkedIn</p>
</div>

<div class="section margin lightgreen">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/code.png"/>
        <h3>I love to develop.</h3>
        <p>Currently developing with :</p>
       <p>- Angular 5<br>
        - Java</p>
      </div>

      <div class="col-md-4">
        <img src="../../assets/brain.png"/>
        <h3>I love to learn.</h3>
        <p>
          As I have to be aware of changes in either back-end or front-end technologies, learning is a part of my life.<br>
          Learning is a powerful skill, and since it's a skill, it has to be trained every single day.
          I like to follow courses/podcasts on how to learn faster and how to improve your brain.<br>
        </p>
      </div>

      <div class="col-md-4">
        <img src="../../assets/peoples.png"/>
        <h3>I love sociology.</h3>
        <p>
          I have not the time to study it yet, but I'm fond of studying people's behaviour.<br>
          If you know the people you work with, you can get the maximum potential out of them.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <span>Copyright © Mars 2018 Alexis Breuse</span><br>
  <span>Made with Angular 5</span>
</div>
