<div id="presentation" class="margin">
  <p class="title bigger">Hi, I'm Alexis !</p>
  <p class="bigger">A passionate and constantly self learning developer.<br>
    You may be a fellow developer or a nice recruiter, in both cases let's keep in touch !</p>
  <a target="_blank" (click)="copySuccess()" ngxClipboard [cbContent]="mail"> <img src="../../assets/gmail.png"/> </a>
  <a target="_blank" href="https://github.com/abreuse"> <img src="../../assets/github.png"/> </a>
  <a target="_blank" href="https://www.linkedin.com/in/abreuse"> <img src="../../assets/linkedin.png"/> </a>
</div>

<div class="section margin lightgreen">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/code.png"/>
        <h3>I love to develop.</h3>
        <p>Currently developing with :</p>

        <div class="bullet-point">
          <p>
            • Angular 5<br>
            • Java<br>
            • ServiceNow
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <img src="../../assets/brain.png"/>

        <h3>I love to learn.</h3>

        <p>Currently learning :</p>

        <div class="bullet-point">
          <p>
            • Angular 5 (Advanced)<br>
            • ES6 <br>
            • TypeScript (Advanced)
          </p>
        </div>

      </div>

      <div class="col-md-4">
        <img src="../../assets/book.png"/>

        <h3>I love to read.</h3>

        <p>Currently reading :</p>

        <div class="bullet-point">
          <p>
            • The Clean Coder - Robert C. Martin<br>
            • You Don't Know JS - Kyle Simpson
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <span>Copyright © Mars 2018 Alexis Breuse</span><br>
  <span>Made with Angular 5</span>
</div>
