<nav class="menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="router-link-active">Projects</a></li>
    </ul>
</nav>

<!-- <nav class="side_links">
  <ul>
    <li>
      <a href="https://github.com/abreuse"><img src="../../assets/github_logo.png" width="36" height="36" alt=GitHub></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/abreuse/"><img src="../../assets/linkeding_logo.png" width="36" height="36" alt="LinkedIn"></a>
    </li>
  </ul>
</nav> -->

