<div id="banner">
  <div id="banner-container">
    <div id="banner-content">
      <div id="name">
        <h1>Alexis Breuse</h1>
      </div>
    </div>
  </div>
</div>

<section id="me">
  <div class="container">
    <div class="row">
      <div class="middle column">
        <p>
          Hi, I'm Alexis, a passionate and constantly self learning developer.<br>
          You may be a fellow developer or a nice recruiter, in both cases let's keep in touch !<br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="one-third column">
        <h3>I love to develop.</h3>
        <p>
          I qualify myself as a full-stack developer as I entertain developing either back-end or front-end apps.
          It allows me to build solid applications on my own.<br>
          I prefer to develop with Java and Angular technologies.
        </p>
      </div>

      <div class="one-third column">
        <h3>I love to learn.</h3>
        <p>
          As I have to be aware of changes in either back-end or front-end technologies, learning is a part of my life.<br>
          Learning is a powerful skill, and since it's a skill, it has to be trained every single day.
          I like to follow courses/podcasts on how to learn faster and how to improve your brain.<br>
        </p>
      </div>

      <div class="one-third column">
        <h3>I love sociology.</h3>
        <p>
          I have not the time to study it yet, but I'm fond of studying people's behaviour.<br>
          If you know the people you work with, you can get the maximum potential out of them.
        </p>
      </div>
    </div>
  </div>
</section>


<section id ="networks">
  <div class="container">
    <div id="networking">
        <h2>Networking</h2>
        <span>alexis.breuse@gmail.com</span>
        <h3>or find me on</h3>
        <span>Github | Twitter | LinkedIn</span>
      </div>
  </div>
</section>

<section id="cvv">
  <div class="container">
    <div id="cv">
        <button (click)="downloadCV()" value="download_cv">Download my CV</button>
    </div>
  </div>
</section>

